html , 
body {
  margin: 0;
  height: 100%;
}

#root {
  height: inherit;
  background-color: #d2005f;
  display: flex;
  flex-direction: row; 
  font-size: 34px;
}

.balance {
  height: inherit;
  display: block;
  background-color: #f78994;
} 
