html , 
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  color: #d2005f;
  background-color: #f78994;
  font-size: 34px;
  padding-top: 12px;
  font-family: 'Dancing Script', cursive;
}

#agendaId {
  font-size: 48px;
}

#agendaId > div {
  padding-top: 25px;
  padding-left: 10px;
}