html , 
body {
  margin: 0;
  height: 100%;
}

#root {
  height: inherit;
  color: #d2005f;
  background-color: #f78994;
  display: flex;
  flex-direction: row; 
  font-size: 34px;
  padding-top: 12px;
  /* font-family: 'Pushster', cursive; */
  font-family: 'Dancing Script', cursive;
}

/* .balance {
  height: inherit;
  display: block;
  background-color: #f78994;
}  */
